<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./static/main.css" />

    <title>cancer</title>
  </head>
  <body>




    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
      <a class="navbar-brand" href="#intro" style="color:yellow;">Colloidial silver water &
        DMSO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#slide01">Food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#slide02">Survivors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#slide03"> Research More</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#slide04"> contact us</a>
          </li>
           <li class="nav-item">
            <a class="nav-link text-white" href="/news"> News</a>
          </li>

        </ul>
      </div>
    </nav>
    <div id="intro" class="container" style="margin-top: 1rem;">


      <h1 class="title" style="color:yellow !important;" ><span style="color:green; font-size:'2rem'">Cancer</span> solution!!!</h1>
      <p class="text-white">No more Cancer cases or any viruses, if you only take the precautions
        and some of the remedies that we suggest for you. Note: "if you do
        things the same way, you will never get a new result because the
        result has been there before, am not a doctor but when the reality
        hits you, you will do things by force.</p>


</div>




    <div id="nav-dots">
      <ul>
        <li>
          <a href="#intro"
            ><span class="nav-dot"></span><span class="nav-label" style="color:yellow;">Colloidial Silver water</span></a
          >
        </li>
        <li>
          <a href="#slide01"
            ><span class="nav-dot"></span
            ><span class="nav-label" style="color:yellow;">Food</span></a
          >
        </li>
        <li>
          <a href="#slide02"
            ><span class="nav-dot"></span
            ><span class="nav-label" style="color:yellow;">survivors</span></a
          >
        </li>
        <li>
          <a href="#slide03"
            ><span class="nav-dot"></span
            ><span class="nav-label" style="color:yellow;"> Research More</span></a
          >
        </li>


        <li>
          <a href="#slide04"
            ><span class="nav-dot"></span
            ><span class="nav-label" style="color:yellow;"> contact us</span></a
          >
        </li>
      </ul>
    </div>

    <div id="slide01" class="main-container">
      <article id="cb01" class="content-block">
        <div class="wrapper">
          <header class="slideInUp">
            <h1>Food</h1>
          </header>
          <section>
            <p class="slideInUp slideInUp2">
              Among the effective foods that can cure any bacterial or viral
              diseases are: Garlic,ginger,lemon.

            </p>
            <span style="color:yellow">Learn More<a href="https://www.healthline.com/nutrition/antiviral-herbs"></a></span>
          </section>
        </div>
        <!-- .wrapper -->
      </article>
    </div>


        <section class="container">
          <div
            class="cards row mt-4 mb-4 d-flex justify-content-center align-items-center "
          >
            <div class="card col-sm-4 col-lg-4 col-md-4">
              <img
                src="https://images.unsplash.com/photo-1501420193726-1f65acd36cda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60
              "
              />
            </div>
            <div class="card col-sm-4 col-lg-4 col-md-4">
              <img
                src="https://images.unsplash.com/photo-1589707790848-9097c28e8569?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60 "
              />
            </div>

            <div class="card col-sm-4 col-lg-4 col-md-4">
              <img
                src="https://images.unsplash.com/photo-1568569350062-ebfa3cb195df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
              />
            </div>
          </div>
        </section>
      </article>

      <article id="cb02 " class="content-block">
        <div class="wrapper">
          <header class="slideInUp" id="slide02">
            <h1>Survivors</h1>
          </header>
          <section>
            <p class="slideInUp slideInUp2">
              check out the videos and you shall get inspired on how you can
              defeat this disease by yourself without paying a penny.
            </p>
          </section>
        </div>
        <!-- .wrapper -->
      </article>



      <section>

        <div class="container mt-4 mb-4">
          <div class="row">
            <div class="col-sm-4 center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O0y7_I76GGs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-sm-4 center">
              <div class="embed-responsive embed-responsive-16by9">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/qpDLK8-atb4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-sm-4 center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kvrHwAmU_ro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>

        <div class="container mt-4 mb-4">
          <div class="row">
            <div class="col-sm-4 center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TvuveGCFIqk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-sm-4 center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HYILnjc_wuY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-sm-4 center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RBMnRmbNMr0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>

        <div class="container mt-4 mb-4">
          <div class="row">
            <div class="col-sm-4 center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/y12waU8xsW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </iframe>
              </div>
            </div>
            <div class="col-sm-4 center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O0vHZozeS3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-sm-4 center">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/IEV22xioJng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </iframe>
              </div>
            </div>
          </div>
        </div>
      </section>




      <article id="cb03 " class="content-block">
        <div class="wrapper">
          <header class="slideInUp" id="slide03">
            <h1>Research More</h1>
          </header>
          <section>
            <p class="slideInUp slideInUp2">
              Let's take you back to that moment when you were kid.
              Did you know anything to do with diseases?
              Did you ever do research on what exactly causes this serious diseases?
               why was previous generations never heard these diseases? What causes Cancer?
               why do people who are in charge of creating medicines not able to create it for years?
               is there some investors benefitting you buy medicines that they haves shares on?
                and do they care who gets sick and who doesn't?

                Note: You need to open your head, the medicine for any serious diseases is out there, onl that you need to stop being dumb.

                Note : I will only give you the spoon and the plate of food and tell you Eat!!!
                if you won't eat it , I did my part to convey the message.

                check <span style="color:yellow">this<a href="http://www.colloidalsilversecretsvideo.com/" ></a></span>
                 and <span style="color:yellow">this<a href="https://www.ultimatecolloidalsilvermanual.com/" ></a></span> do more research on Colloidial silver water,
                which can cure all type of cancers within weeks.
            </p>
          </section>
        </div>
        <!-- .wrapper -->
      </article>


      <article>
          <div class="container" style="margin: auto;" >
            <div class="row">
              <div class="col-sm-12 col-md-12 d-flex justify-content-center align-items-center">
                <img
                  src="https://image.freepik.com/free-vector/contact-us-woman-with-headphones-microphone-with-computer_113065-280.jpg"
                  alt=""
                />
              </div>
            </div>

            <div
              class="row d-flex justify-content-center align-items-center"
              style="color: white;"
            >
              <div class="col-sm-12 col-md-12">
                <h1 class="text-center" style="color: white;">
                  Find us Today
                </h1>
                <div class="d-flex justify-content-center">
                  <div class="pr-4">
                    <a href="https://www.facebook.com/profile.php?id=100007706285441 ">
                      <i class="fab fa-3x fa-facebook "></i>
                    </a>
                  </div>
                  <div class="pr-4">
                    <a href="https://twitter.com/salma12221348">
                      <i class="fab fa-3x fa-3x fa-twitter "></i>
                    </a>
                  </div>
                  <div class="pr-4">
                    <a href="https://www.instagram.com/ ">
                      <i class="fab fa-3x fa-instagram "></i>
                    </a>
                  </div>

                  <div class="pr-4">
                    <a href="https://www.linkedin.com/in/salma-mohamed-4b991115a/ ">
                      <i class="fab fa-3x fa-linkedin-in "></i>
                    </a>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </article>


              <footer class=" py-5" style="background-color: #2ecc71;">
                <div >
                  <p class="text-center text-white">&copy; 2020 Salma Mohamed<p>
                </div>


            </footer>







    <script src=".static/main.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="js/vendor/jquery-1.11.2.min.js"><\/script>'
        );
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/0cdea288b2.js "></script>

  </body>
</html>

